.dropdown {
  position: relative;
  width: 150px;
  &__btn {
    width: 100%;
    background: #fff;
    text-align: left;
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 28 28' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 30px;;
  }
  &__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    box-shadow: 2px 5px 15px rgba($color: #000000, $alpha: 0.1);
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: none;
  }
  &__item {
    padding: 5px;
    &:hover {
      background: #e5e5e5;
    }
  }
  
  &.is-expanded {
    position: relative;
    display: block;
    z-index: 1;
    .dropdown__dropdown {
      display: block;
    }
  }
}