@import "components/dropdown";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-size: 14px;
}
*,*::after, *::before {
  box-sizing: border-box;
}

.app {
  width: 500px;
  margin: auto;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  background: #eee;
  justify-content: space-between;
  padding: 10px;
}
.filter-item {
  display: inline-flex;
  padding: 0 10px;
  width: 33.33%;
  align-items: center;
  align-content: center;
}
.filter-item.-full-width {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.filter-item label {
  margin-right: 5px;
  margin-bottom: 0;
}
.filter-item input[type="text"] {
  flex-grow: 1;
}
.filter-item .dropdown {
  width: 100%;
  min-width: 0;
  flex-grow: 1;
}

.listing {
  margin-top: 20px;
  background: #f1f1f1;
}
.listing table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.listing table td,
.listing table th {
  padding: 10px;
  border:1px solid #e5e5e5;
  text-align: center;
}
.listing table th {
  background: #65718b;
  color: #fff;
  border-color: #858585;
}
.listing table th:nth-child(1),
.listing table td:nth-child(1) {
  text-align: left;
}
.listing button {
  margin: 0 3px;
}
.listing .add-task {
  margin: 0;
  background: none;
  padding: 0;
}

// .add-task {
//   /* margin-top: 20px;
//   background: #fff3dc;
//   padding: 10px;
//   border: 1px solid #eee;
//   display: flex; */
// }
.add-task {
  margin-top: 20px;
  background: #fff3dc;
  padding: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-wrap: wrap;
}
.add-task input { 
  flex-grow: 1;
  margin-right: 10px;
}
.add-task select {
  margin-right: 10px;
}

.add-task .dropdown {
  margin-right: 10px;
}

.errors {
  width: 100%;
  color: rgb(190, 2, 2);;
  margin-top: 20px;
}
select {
  border: 1px solid #ccc;
  padding: 5px;
}
input[type="text"] {
  border: 1px solid #ccc;
  padding: 5px;
}
button {
  padding: 5px;
  border: 1px solid #ccc;
  background: #e7e7e7;
  /* background: #e7e7e7;
  border: 1px solid #b7b7b7; */
}
.hidden {
  display: none;
}

.priority-decoration {
  display: inline-block;
  background: #80bf6c;
  color: #fff;
  border-radius: 5px;
  padding: 3px 10px;
}
.priority-decoration.-medium{
  background: #6a9be5;
}
.priority-decoration.-high{
  background: #dd5959;
}

.loading {
  position: fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  font-size: 32px;
}
